<div class="container">
  <div class="bar">
    Testing
  </div>

  <md-grid-list cols="4" [style.background]="'lightblue'">
    <md-grid-tile>One</md-grid-tile>
    <md-grid-tile>Two</md-grid-tile>
    <md-grid-tile>Three</md-grid-tile>
    <md-grid-tile>Four</md-grid-tile>
  </md-grid-list>
</div>
