<div id="container">

  <div align="center">
    <md-button (click)="toggleAddProduct()"> New Product</md-button>


    <div *ngIf="showAdd==true">

      <md-input-container>
        <label>Name</label>
        <input [(ngModel)]="productDetails.name">
      </md-input-container>
      <md-input-container>
        <label>Cost</label>
        <input type="number" [(ngModel)]="productDetails.cost">
      </md-input-container>
      <md-input-container>
        <label>Price</label>
        <input type="number" [(ngModel)]="productDetails.price">
      </md-input-container>

        <vendor-dropdown [DropValues] ="DropValues" (select)="getVendorName($event)"></vendor-dropdown>


      <md-button (click)="AddNewProduct()"> Add Product</md-button>

    </div>
  </div>
  &nbsp; &nbsp;

  <md-grid-list cols="4" *ngFor="let item of products">
    <md-grid-tile>
      <product [productInfo]="item" (deleteEvent)="deleteProductEvent($event)"> </product>
    </md-grid-tile>
  </md-grid-list>
</div>
